<li class="answer" id="<%= answer.id %>">
  <%= answer.content %><br>
  by <%= answer.user.username %> - Upvotes: <%= answer.votes.count %>
  <% if authorized?(answer.user) %>
    <a href="/questions/<%= answer.question_id %>/answers/<%= answer.id %>/edit">Edit</a>
    <form action="/questions/<%= answer.question_id %>/answers/<%= answer.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  <% end %>
  <%= erb :'votes/_vote_form', locals: {voteable: answer} %>
  <% @comments = answer.comments %>
  <% if @comments.length > 0 %><br>
  <h5>Comments:</h5>
  <ul>
    <% @comments.each do |comment| %>
      <%= erb :'comments/_each_comment', locals: {comment: comment} %>
    <% end %>
  </ul>
  <% end %>
  <br><br>
</li>
